/* create Account component */
.create-form{
    border-radius: 8px;
    width: 45%;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(12px);
    opacity: 0;
    animation: showup 0.2s ease-in-out forwards;
}
@keyframes showup{
    0%{
        opacity: 0;
        transform: scale(0.97);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.create-form p{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}
.create-form input{
    color: var(--bluegreenDark);
    width: 80%;
    margin: 0 auto;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: none;
    text-transform: capitalize;
    border-bottom: 2px solid black;
    background-color: transparent;

}
.create-form input::placeholder{
    color: black;
}
.create-form input:focus{
    outline: none;
    border-bottom: 2px solid var(--bluegreenDark);
    background-color: transparent;
}
.create-form div{
    width: 30%;
    /* border: 2px solid; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.create-form div button{
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    text-transform: capitalize;
    border-radius: .75rem;
    font-weight: bold;
    border: 2px solid var(--bluegreenDark);
}
.create-form div button:nth-of-type(1){
    background-color: var(--bluegreenDark);
    color: white;
}
.create-form div button:nth-of-type(2){
    color: var(--bluegreenDark);
    background-color: white;
}

/* Delete Account coomponent */

.del-acc-form{
    width: 45%;
    padding-bottom: 2rem;
    min-height: max-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    align-items: center;
    gap: 1rem;
    opacity: 0;
    animation: showup 0.2s ease-in-out forwards;
}
.del-acc-form > * {
    width: 80%;
    text-align: center;
}
.del-acc-form p{
    font-size: 2rem;
    padding-top: 2rem;
    font-weight: 600;
}

.del-acc-form input{
    padding:0.5rem 1rem;
    background: transparent;
    border: none;
    font-size: 1.3rem;
    border-bottom: 2px solid rgb(0, 0, 0);
}
.del-acc-form input:focus{
    outline: none;
    background-color: transparent;
}
.del-acc-form div{
    padding-top: .7rem;
    display: inline-flex;
    justify-content: center;
    gap: 2rem;
}
.del-acc-form div button{
    border: none;
    font-weight: 600;
    border-radius: 7px ;
    width: 40%;
    padding: 0.7rem;
    text-transform: uppercase;
    transition: 0.2s ease-in-out all;
}
.del-acc-form div button:nth-of-type(1){
    background-color: rgb(199, 0, 0); 
    color :white;
}
.del-acc-form div button:hover{
    background-color: red;
}
.del-acc-form div button:nth-of-type(2){
    background-color: rgb(239, 239, 239); 
    color :red;
    border: 2px solid white;
}
.del-acc-form div button:nth-of-type(2):hover{
    background-color: white;
}
.checker{
    text-align: start;
}
.checker h1{
    text-align: center;
    padding: 1rem;
}
.checker form{
    display: flex;
    height: 10dvh;
    padding: 0.2rem;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    
}
.checker form input{
    width: 50%;
    padding: 0.7rem;
    border: none;
    border: 1px solid #bbb;
    box-shadow: 4px 4px 15px rgb(0, 0, 0 / 0.12);
    font-size: 1.1rem;
    text-transform: capitalize;
}
.checker form button{
    font-size: 1.1rem;
    width: 10%;
    padding: .6rem ;
    border-radius: .5rem;
    border: none;
    background-color: #008080;
    color: white;
}
.checker > .patient-details{
    box-shadow: 0 0 15px 1500px rgba(0 ,0 , 0,0.7);
    max-height:95vh ;
    overflow-y: auto;
    padding: .5rem 1rem;
    padding-left: 2rem;
    background-color: #f4f6f8;
    width: 50%;
    left: 50%;
    top: 7%;
    transform: translate(-50%,0%);
    position: fixed;
    animation: pop-up linear 0.1s;
}
@keyframes pop-up {
    0%{
        top: 7%;
        left:50%;
        transform: scale(0);
        transform: translate(0%,0%);
    }
    100%{
        transform: scale(1);
        transform: translate(-50%,0%);
    }
}
.checker > .patient-details > button{
    width: 10%;
    padding: .3rem;
    margin-left: auto;
    background-color: crimson;
    color: white;
    font-weight: 600;
    border: none;
    position: sticky;
    top: .2rem;
    display: block;
    z-index: 99;
}

.checker > .patient-details .popup-body {
    overflow-y: auto;
    padding-bottom: .5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    font-size: 1.3rem;
}
.checker > .patient-details .popup-body h3{
    padding: 0;
    
}
.checker > .patient-details .popup-body p{
    font-family: serif;
    text-transform: capitalize;
}
.checker > .patient-details .popup-body p > .copy-btn{
    background-color: none;
    padding: 0.2rem 0.5rem;
    color: #fff;
    background-color: #006fff;
    border-radius: 8px;
    border:none;
    margin-left: 0.2rem;
    vertical-align: middle;

}

.checker > .patient-details .popup-body .popup-cost{
    display: flex; 
    /* gap: 1rem; */
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border-top: 2px solid #ccc;
    padding-top: .5rem;
}
.checker > .patient-details .popup-body .popup-cost p{
    border: 1px solid ;
    padding: .7rem;
    border-radius: 8px;
    color: white;
    background-color: #006fff;
}
.checker > .patient-details .popup-body .product-list{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.checker > .patient-details .popup-body .product-list .product{
    border: 1px solid #ccc;
    width: max-content; 
    margin-left: .2rem;
    padding: .5rem;
    border-radius: 8px;
    color: #ffffff;
    background-color: #22C55E;
}
.checker > .patient-details .popup-body span{
    color: #3d3d3d;
}


.mr-report{
    width: 45%;
    height: max-content;
    display: inline-block;
    vertical-align: middle;
}
.mr-report > .chart{
    height: 50dvh;
    /* border: 2px solid; */
    width: 100%;
    
}
.expenses-chart{
    height: 50dvh;
    width: 45%;
    vertical-align: middle;
    display: inline-block;
}
.expenses-chart h3{
    text-align: center;
}