:root{
  --bluegreen:rgb(36 186 161);
  --bluegreenDark:rgb(26, 107, 94);
  --bluegreenLight:rgb(23, 225, 192);
  --navbarWidth:12%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}
.Navbar{
  width: var(--navbarWidth);
  background: var(--bluegreenDark);
  height: 100dvh;
  display: block;
  position: fixed;
  display: grid;
  container-type: inline-size;
  /* justify-content: center; */
  user-select: none;
}
.Navbar > div:first-of-type{
  margin-top: 0.5rem;
}
.Navbar div{
  /* border: 2px solid white; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  margin: 0 auto;
  color: white;
  /* margin-top: 2rem; */
}
.dropdown{
  width: 100%;
  
}
.dropdown .dropdown-title{
  width: 100%;
  color: white;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dropdown .dropdown-title .icon{
  vertical-align: bottom;
  font-size: 1.2rem;
}
.dropdown .dropdown-menu{
  width: 100%;
  visibility: visible;
  transition: all ease-in-out 1.2s;
  animation: slide .5s ease-in-out forwards;
  opacity: 0;
}
@keyframes slide {
  0%{
    opacity: 0;
    transform: translateY(-10px);
  }  
  100%{
    opacity: 1;
    transform: translateY(0);
  }  
}
.Navbar div button{
  padding:.5rem 1rem;
  margin: 0 auto;
  width: min-content;
  color: white;
  background:crimson;
  border: 2px solid red;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 8px;
  margin-top: auto;
  margin-bottom: 2rem;
  transition: all ease-in-out .2s;
}
.Navbar div button:hover{
  /* background-color: rgb(187, 7, 43); */
  border: 2px solid rgb(187, 7, 43);
  transform: scale(1.1);
  letter-spacing: 0.1rem;
}
.Navbar div a{
  text-decoration: none;
  color:white;
  font-size: 1rem;
  padding: 0.5rem 0;
  transition: all 0.2s ease-in;
  display: inline-flex;
  align-items: center;
  gap: .4rem;
}
.Navbar div:not(hover){
  color: rgb(187, 187, 187);
}
/* .Navbar div a:hover{
  color: rgb(187, 187, 187);
} */
.Navbar div a .icon{
  vertical-align: middle;
  font-size: 1.2rem;
}
.Main{
  margin-left:var(--navbarWidth);
  background-image:linear-gradient(rgba(255, 255, 255, 0.5)), url('/main.jpg') ;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100dvh;
}
.loader{
  background-color: rgb(255, 255, 255);
  width: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  
}
.spinner{
  aspect-ratio: 1/1 !important;
  width: 80px;
  border-radius: 8px;
  animation: spin 3s infinite linear;
}

@keyframes spin {
  0%{
    border-color: #008080;
    border: 20px solid  #008080;
  }
  20%{
    border: 2px solid;
    border-right: 20px solid  #008080;
    border-top: 20px solid  #008080;
  }
  40%{
    border: 2px solid;
    border-top: 20px solid  #008080;
    border-left: 20px solid  #008080;
  }
  60%{
    border: 2px solid;
    border-left: 20px solid  #008080;
    border-bottom: 20px solid  #008080;
  }
  80%{
    border: 2px solid;
    border-bottom: 20px solid  #008080;
    border-right: 20px solid  #008080;
  }
  100%{
    transform: rotate(1turn);
    border-color: #008080;
    border: 20px solid  #008080;
    border-right: 20px solid  #008080;
    border-top: 20px solid  #008080;
  }
}

.chart{
  max-height:40dvh ;
  margin: 0 3rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 18px;
}
.pie-chart{
  margin-top: 1rem;
  aspect-ratio: 1/1;
  width: 22%;
  display: inline;
  position: absolute;
}